body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans","Arial",sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: normal;
  color: #000000;
  text-transform: uppercase;

  background-color: #ffffff;
}
.conteiner {
  width: 1200px;
  margin: 0 auto;

  box-shadow: 0px 0px 10px 5px #cacaca;
}
.nav {
  position: relative;
}
.logo {
  position: absolute;
  z-index: 1;
  left: 50%;

  transform: translateX(-50%);
}
.site-nav {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}
.site-link {
  width: 25%;
  height: 56px;
  padding-top: 14px;
  box-sizing: border-box;

  list-style: none;
}
.site-link:nth-of-type(4n-3) {
  text-align: left;
  padding-left: 72px;
}
.site-link:nth-of-type(4n-2) {
  text-align: left;
  padding-left: 13px;
}
.site-link:nth-of-type(4n-1) {
  text-align: right;
  padding-right: 16px;
}
.site-link:nth-of-type(4n) {
  text-align: right;
  padding-right: 72px;
}
.site-link a {
  font-weight: bold;
  color: #000000;

  text-decoration: none;
}
.site-link a:hover {
  color: #81b3d2;
}
.site-link a:active {
  color: #cacaca;
}
a.active-page,
a.active-page:hover,
a.active-page:active {
  color: #766357;
}
.intro {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;

  width: auto;
  min-height: 488px;
  padding: 10px;
  overflow: hidden;

  background-color: #966b58;
  background-image: url("../img/bg.jpg");
  background-position-x: center;
  background-position-y: -56px;
  background-repeat: no-repeat;
}
.intro::after {
  content: "";

  position: absolute;
  bottom: -3px;

  width: 100%;
  height: 60px;

  background-image: url("../img/intro-mask.svg");
}
.advantage {
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;

  text-align: center;
  line-height: 21px;
}
.intro-text {
  width: 100%;
  padding-top: 40px;
  padding-right: 50px;
  padding-left: 50px;
  padding-bottom: 37px;

  line-height: 26px;
}
.big-text {
  font-size: 21px;
  font-weight: bold;
}
.small-text {
  font-weight: 400;
  color: #333333;
}
.intro-text .big-text {
  margin-bottom: 26px;
}
.info-block {
  width: 400px;
  min-height: 256px;
  padding-top: 47px;
  padding-right: 47px;
  padding-left: 47px;
  padding-bottom: 10px;
  box-sizing: border-box;
  flex-grow: 1;
}
.info-block h3,
.info-city h3 {
   margin-top: 0;
   margin-bottom: 24px;
 }
.info-city {
  position: relative;

  width: 400px;
  min-height: 330px;
  padding-top: 161px;
  padding-right: 47px;
  padding-left: 47px;
  padding-bottom: 10px;
  box-sizing: border-box;
}
.blue-bg {
  color:#ffffff;

  background-color: #81b3d2;
}
.gray-bg {
  background-color: #eeeeee;
}
.mini-bg {
  width: 800px;

  line-height: 0;

  background-color: #81b3d2;
}
.mini-bg img {
  width: 100%;
  min-height: 100%;
  object-fit: cover;
}
.info-city::before {
  content: "";

  position: absolute;
  left: 50%;

  transform: translateX(-50%);
}
.home::before {
  top: 60px;

  width: 75px;
  height: 72px;

  background-image: url("../img/icon-1.svg");
}
.food::before {
  top: 61px;

  width: 74px;
  height: 70px;

  background-image: url("../img/icon-3.svg");
}
.gift::before {
  top: 56px;

  width: 64px;
  height: 76px;

  background-image: url("../img/icon-2.svg");
}
.advantage-number {
  margin-top: 24px;
  margin-bottom: 20px;
}
.popup {
  position: relative;

  line-height: 24px;
  font-weight: bold;
}
.search-info {
  text-align: center;
  padding-top: 50px;
  padding-right: 70px;
  padding-left: 70px;
}
.popup-header {
  margin-top: 0px;
  margin-bottom: 24px;

  font-size: 30px;
  line-height: 36px;
}
.search-switch {
  display: flex;
  justify-content: center;
  margin: 47px auto 0px;
  padding: 31px 20px;
  width: 568px;
  box-sizing: border-box;

  font-size: 21px;
  color:#ffffff;
  text-decoration: none;

  background-color: #766357;
}
.search-switch:hover {
   background-color: #604e43;
}
.search-switch:active {
  color: rgba(255,255,255,0.3);

  background-color: #503e33;
}
.popup-form {
  position: absolute;
  left: 50%;

  padding: 55px;
  box-sizing: border-box;
  width: 568px;

  background-color: #ffffff;
 /* box-shadow: 0px 0px 10px 5px #cacaca;*/
  box-shadow-top: none;

  transform: translateX(-50%) translateY(0%);
}
.popup input {
  font-weight: bold;
  border: 2px solid #f2f2f2;
  background-color: #f2f2f2;
  text-transform: uppercase;
}
.popup input:hover {
  border: 2px solid #ebebeb;
  background-color: #ebebeb;
}
.popup input:focus {
  border: 2px solid #e5e5e5;
  background-color: #ffffff;
  outline: none;
}
.popup-input {
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.input-area {
  position: relative;

  display: inline-block;
  width: 346px;
  height: 38px;
 }
.input-area input {
  width: 346px;
  height: 38px;
  padding-left: 10px;
  padding-right: 38px;
  box-sizing: border-box;
}
.input-area button {
  right: 0px;
}
.popup-button {
  color: #a9a9a9;
  font-weight: bold;

  border: none;
  fill: #cacaca;
}
.popup-button:hover {
  fill: #000000;
  color: #000000;
}
.popup-button:active {
  fill: #81b3d2;
  color: #81b3d2;
}
.input-number {
  min-height: 38px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}
.number-adult {
  margin-right: 37px;
}
.number-child {
  margin-right: 23px;
}
.input-count {
  position: relative;

  display: inline-block;
  width: 114px;
  height: 38px;
  box-sizing: border-box;
}
.count {
  text-align: center;
  width :114px;
  height: 38px;
  padding-left: 38px;
  padding-right: 38px;
  box-sizing: border-box;
}
.min-button {
  position: absolute;

  width: 38px;
  height: 38px;

  font-size: 25px;

  background-color: transparent;

  cursor: pointer;
}
.minus {
  left: 0px;

  margin-top: -2px;
}
.pluse {
  right: 0px;

  margin-top: -1px;
}
.search {
  text-align: center;
  width: 458px;
  margin-top: 53px;
  padding: 16px;

  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #81b3d2;
  border: none;

  cursor: pointer;
}
.search:hover {
  background-color: #669ec0;
}
.search:active {
  color: rgba(255,255,255,0.3);

  background-color: #5496bd;
}
.map {
  width: 1200px;
  min-height: 593px;
  box-sizing: border-box;
}
.footer-index {
  position: relative;
  margin-top: -128px;
}
.footer {
  min-height: 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 100px;
  padding-right: 100px;
  box-sizing: border-box;

  background-color: rgba(255,255,255,0.9);
}
.teg {
  margin-left: 32px;
}
.social {
  width: 150px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0px;
  margin-left: 28px;
  list-style-type: none;
}
.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 46px;
  height: 48px;
  margin-top: 2px;

  background-color: #81b3d2;
}
.icon:hover {
  background-color: #669ec0;
}
.icon:active {
  background-color: #5496bd;
}
.icon svg {
  fill: #ffffff;
}
.icon:active svg {
  fill: rgba(255,255,255,0.9);
}
.html {
  display: flex;
  align-items: center;
}
.html span {
   margin-right: 8px;
}
.logo-html {
  display: flex;
  align-items: center;

  color: #000000;
}
.logo-html:hover svg{
  fill: #81b3d2;
}
.logo-html:active svg {
  fill: #bdbbbc;
}
/* Стилизация старинцы каталога*/
.form-area {
  width: 1200px;
  min-height: 217px;
  padding: 10px;
  box-sizing: border-box;
  display: flex;

  background-color: #81b3d2;
  background-image: url("../img/filter-background.jpg");
  background-position-y: -56px;
  background-repeat: no-repeat;
}
.form-area ul {
   padding: 0;
   margin: 0;
  list-style-type: none;
 }
.type-infro {
  margin-left: 62px;
}
.type-apart {
  margin-left: 100px;
}
.form-area fieldset {
   margin-top: 17px;
   padding: 0px;

  border: none;
}
.form-label {
  position: relative;

  display: block;
  width: 153px;
  padding-left: 40px;
  padding-bottom: 3px;
  margin-top: 22px;
  box-sizing: border-box;


  cursor: pointer;
}
.form-area legend {
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  font-weight: bold;
}
.form-area label{
  line-height: 21px;
  color: #ffffff;
  font-weight: normal;
}
.form-area input {
  color: #ffffff;
  line-height: 21px;
}
.form-label::before {
  content: "";
  position: absolute;
  background-image: url("../img/checkbox-off.svg");
  left: 0;
  width: 23px;
  height: 23px;
}
.form-value:focus + .form-label::before {
  outline: 2px solid #81b3d2;
}
.form-value:checked + .form-label::before {
  content: "";
  position: absolute;
  background-image: url("../img/checkbox-on.svg");
  left: 0;
  width: 27px;
  height: 23px;
}
.form-value:checked:disabled + .form-label::before {
  background-image: url("../img/checkbox-on-dis.svg");
}
.form-value:disabled + .form-label::before {
  background-image: url("../img/checkbox-off-dis.svg");
}
.filter-range {
  width: 318px;
  margin-top: 17px;
  margin-left: auto;
  margin-right: 62px;
  color: #ffffff;
  text-transform: uppercase;
}
.filter-range-title {
  margin-bottom: 10px;

  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}
.price-controls {
  position: relative;

  height: 32px;
  margin-bottom: 20px;

  font-size: 0;

  border: 2px solid #ffffff;
  border-radius: 2px;
}
.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left:50%;
  transform: translateY(-50%);

  width: 2px;
  height: 22px;

  background: #ffffff;
}
.price-controls label {
  display: inline-block;

  font-size: 14px;
  line-height: 21px;
  vertical-align: top;
}
.price-controls .min-price {
  width: 90px;
  padding-left: 65px;
  padding-top: 5px;
}
.price-controls .max-price {
  width: 90px;
  padding-left: 56px;
  padding-top: 5px;
}
.price-controls input {
  width: 50px;
  margin: 0;
  padding-left: 5px;
  box-sizing: border-box;

  color: inherit;
  font: inherit;

  background: none;
  border: none;
}
.price-controls input::placeholder {
  color: inherit;
  opacity: 0.7;
}
.range-controls {
  position: relative;
  margin-bottom: 32px;
}
.range-controls .scale {
  height: 2px;

  background:  rgba(255, 255, 255, 0.3);
}
.range-controls .bar {
  width: 80%;
  height: 2px;

  background: #ffffff;
}
.range-toggle {
  position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;
  padding: 0;
  box-sizing: content-box;

  background: #ababab;
  border: 8px solid #ffffff;
  border-radius:  50%;
  box-shadow: 0 2px 1px 0 rgba(0,1,1,0.2);

  cursor: pointer;
}
.range-toggle:hover {
  transition: 0.3s;
  transform: scale(1.1);
}
.range-toggle-min {
  left: 0;
}
.range-toggle-max {
  left: 80%;
}
.btn-transparent {
  display: block;
  margin: 0 auto;
  transform: translateX(-5px);
  padding: 6px 34px;

  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;

  background: transparent;
  border: 2px solid #ffffff;

  cursor: pointer;
}
.btn-transparent:hover {
  color: #000000;
  background: #ffffff;
}
.subfilter {
  width: 100%;
  margin: 0 auto;
  padding:0 72px;
  box-sizing: border-box;
  min-height: 87px;
  display: flex;
  align-items: center;

  border-bottom: 1px solid #e5e5e5;
}
.subfilter p {
  margin-right: 43px;
  min-width: 120px;

  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}
.subfilter h3 {
  margin-right: 40px;

  font-size: 12px;
  line-height: 18px;
  font-weight: normal;
}

.sort {
  display: flex;
  padding-left: 0px;

  list-style-type: none;
}
.sort-item {
  margin-right: 34px;

  color: #cacaca;
  font-size: 12px;
  line-height: 18px;
  text-decoration: none;

  border-bottom:2px dotted #81b3d2 ;
}
.sort-item:hover {
  color: #81b3d2;
}
.sort-item:active {
  color: #000000;
  border-bottom: none;
}
.active-subfilter,
.active-subfilter:hover,
.active-subfilter:active {
  color: #81b3d2;
  border-bottom: none;
}
.arrow-section {
   margin-left: auto;
   min-width: 40px;
}
.arrow {
  background-color: transparent;
  border: none;

  margin-right: -5px;

  cursor: pointer;
}
.arrow svg {
  fill: #cacaca;
}
.arrow svg:hover {
  fill: #231f20;
}
.arrow svg:active {
  fill: #81b3d2;
}
.active-arrow svg,
.active-arrow:hover svg,
.active-arrow:active svg {
  fill: #81b3d2;
}
.list-item {
  height: 151px;
  padding: 20px 72px;
  box-sizing: border-box;
  display: flex;

  border-bottom: 1px solid #e5e5e5;
}
.image,
.text-info h3,
.text-info p {
  margin: 0px;
}
.image {
  margin-right: 30px;
  margin-top: 10px;
}
.text-info {
  height: 90px;
  width: 258px;
  display: flex;
  padding-top: 5px;
  flex-direction: column;
}
.text-info > div {
  display: flex;
}
.text-item {
  padding-top: 3px;
  padding-bottom: 12px;
}
.name-item {
  display: block;
  width: 115px;
}
.about-item {
  display: block;
  width: 110px;
  height: 27px;
  margin-right: 6px;
  text-align: center;
  padding-top: 3px;
  box-sizing: border-box;

  line-height: 21px;
  font-weight: bold;
  color: #ffffff;
  text-decoration: none;

  background-color: #81b3d2;
}
.about-item:hover {
  background-color: #669ec0;
}
.about-item:active {
  color: rgba(255,255,255,0.3);

  background-color: #5496bd;
}
.about-name {
  color: #000000;
  font-size: 21px;
  text-decoration: none;
}
.about-name:hover {
  color: #81b3d2;
}
.about-name:active {
  color: #cacaca;
}
.result p {
  color: #333333;
  line-height: 21px;
}
.button-reserve {
  width: 142px;
  height: 27px;

  line-height: 21px;
  font-weight: bold;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #766357;
  border: 2px solid #766357;

  cursor: pointer;
}
.button-reserve:hover {
  background-color: #604e43;
  border: 2px solid #604e43;
}
.button-reserve:active {
  color: #928a85;

  background-color: #503e33;
  border: 2px solid #503e33;
}
.rating-block {
  margin-left: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}
.star {
   display: inline-block;
   margin-top: 8px;
   margin-left: 2px;
 }
.rating {
  display: block;
  width: 110px;
  height: 27px;
  padding-left: 15px;
  margin-bottom: 10px;
  box-sizing: border-box;

  color: #666666;
  background-color: #f2f2f2;
}
.visually-hidden {
  position:absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border:0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}




