body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans","Arial",sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: normal;
  color: #000000;
  text-transform: uppercase;

  background-color: #ffffff;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
.nav a {
  font-weight: bold;
  color: #000000;
}
.nav a:hover {
  color: #81b3d2;
}
.nav a:active {
  color: #cacaca;
}
a.active-page,
a.active-page:hover,
a.active-page:active {
  color: #766357;
}
.intro {
  width: auto;
  height: auto;

  padding-top: 1px;
  vertical-align: middle;

  background-color: #966b58;
  background-image: url("../img/bg.jpg");
  background-position-x: center;
  background-position-y: -56px;
  background-repeat: no-repeat;
}
.intro-welcome {
text-align: center;
}
.big-text {
  font-size: 21px;
  font-weight: bold;

  text-align: center;
}
.small-text {
  font-weight: 400;
  color: #333333;

  text-align: center;
}
.blue-bg {
  background-color: #81b3d2;
}
.gray-bg {
  background-color: #eeeeee;
}
.blue-bg {
   color:#ffffff;
}
.mini-bg {
  background-color: #81b3d2;
}
.advantage {
  text-align: center;
  line-height: 21px;
}
.popup {
  line-height: 24px;
}
.head {
  font-size: 30px;
  line-height: 36px;
}
.search-switch,
.search-switch a{
  font-size: 21px;
  color:#ffffff;
  font-weight: bold;
  text-align: center;

  background-color: #766357;
}
.search-switch:hover,
.search-switch:hover a{
   background-color: #604e43;
}
.search-switch:active,
.search-switch:active a{
  color: rgba(255,255,255,0.3);

  background-color: #503e33;
}
.popup {
  font-weight: bold;
}
.popup input {
  font-weight: bold;
  border: 2px solid #f2f2f2;
  background-color: #f2f2f2;
}
.popup input:hover {
  border: 2px solid #ebebeb;
  background-color: #ebebeb;
}
.popup input:focus {
  border: 2px solid #e5e5e5;
  background-color: #ffffff;
}
button.popup-button {
   color: #a9a9a9;
   font-weight: bold;
}
button.popup-button {
  background-color: #f2f2f2;
  border: none;
  fill: #cacaca;
}
button.popup-button:hover {
  fill: #000000;
  color: #000000;
}
button.popup-button:active {
  fill: #81b3d2;
  color: #81b3d2;
}
button.search {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #ffffff;
  text-transform: uppercase;

  border: 2px solid #81b3d2;
  background-color: #81b3d2;

  cursor: pointer;
}
button.search:hover {
  border: 2px solid #669ec0;
  background-color: #669ec0;
}
button.search:active {
  color: rgba(255,255,255,0.3);

  border: 2px solid #5496bd;
  background-color: #5496bd;
}
.footer {
  background-color: rgba(255,255,255,0.9);
}
.icon {
  background-color: #81b3d2;
}
.icon:hover {
  background-color: #669ec0;
}
.icon:active {
  background-color: #5496bd;
}
.icon svg {
  fill: #ffffff;
}
.icon:active svg {
  fill: rgba(255,255,255,0.9);
}
.logo-html {
  color: #000000;
}
.logo-html:hover svg{
  fill: #81b3d2;
}
.logo-html:active svg {
  fill: #bdbbbc;
}
/* Стилизация старинцы каталога*/
.form-area {
  background-color: #81b3d2;
  background-image: url("../img/filter-background.jpg");
  background-repeat: no-repeat;
}
.form-area legend {
  font-size: 16px;
  line-height: 26px;
  color: #ffffff;
  font-weight: bold;
}
.form-area label{
  line-height: 21px;
  color: #ffffff;
  font-weight: normal;
}
.form-area input {
  color: #ffffff;
  line-height: 21px;
}
.form-area input[type="number"] {
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
}
.subfilter p {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}
.subfilter h3 {
  font-size: 12px;
  line-height: 18px;
  font-weight: normal;
}
.subfilter a {
  color: #cacaca;
  font-size: 12px;
  line-height: 18px;

  border-bottom:2px dotted #81b3d2 ;
}
.subfilter a:hover {
  color: #81b3d2;
}
.subfilter a:active {
  color: #000000;
  border-bottom: none;
}
a.active-subfilter,
a.active-subfilter:hover,
a.active-subfilter:active {
  color: #81b3d2;
  border-bottom: none;
}
.arrow {
  background-color: transparent;
  border: none;

  cursor: pointer;
}
.arrow svg {
  fill: #cacaca;
}
.arrow svg:hover{
  fill: #231f20;
}
.arrow svg:active{
  fill: #81b3d2;
}
.active-arrow svg {
  fill: #81b3d2;
}
.about-item {
  line-height: 21px;
  font-weight: bold;
  color: #ffffff;

  background-color: #81b3d2;
}
.about-item:hover {
  background-color: #669ec0;
}
.about-item:active {
  color: rgba(255,255,255,0.3);

  background-color: #5496bd;
}
.about-name{
  color: #000000;
  font-size: 21px;
}
.about-name:hover {
  color: #81b3d2;
}
.about-name:active {
  color: #cacaca;
}
.result p {
  color: #333333;
  line-height: 21px;
}
.rating {
  color: #666666;
  background-color: #f2f2f2;
}
.button-reserve{
  line-height: 21px;
  font-weight: bold;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #766357;
  border: 2px solid #766357;

  cursor: pointer;
}
.button-reserve:hover {
  background-color: #604e43;
  border: 2px solid #604e43;
}
.button-reserve:active {
  color: #928a85;

  background-color: #503e33;
  border: 2px solid #503e33;
}
.visually-hidden {
  position:absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border:0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/*Сетка сайта*/
.conteiner {
  width: 1200px;
  margin: 0 auto;
  box-shadow: 0px 0px 10px 5px #cacaca;
}
.header {
  background-color: #ffffff;
}
.nav {
  position: relative;
}
.logo {
  z-index: 1;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.site-nav {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.site-link {
  width: 25%;
  height: 56px;
  padding-top: 13px;
  box-sizing: border-box;
}
.site-link:nth-of-type(4n-3) {
  text-align: left;
  padding-left: 72px;
}
.site-link:nth-of-type(4n-2) {
  text-align: left;
   padding-left: 12px;
 }
.site-link:nth-of-type(4n-1) {
  text-align: right;
  padding-right: 12px;
}
.site-link:nth-of-type(4n) {
  text-align: right;
  padding-right: 72px;
}
.intro {
  position: relative;
  padding: 10px;
  min-height: 506px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.intro::after {
  content: "";
  position: absolute;
  bottom: -5px;
  background-image: url("../img/intro-mask.svg");
  width: 100%;
  height: 60px;
}
.advantage {
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
}
.intro-text {
  width: 100%;
  text-align: center;
  padding-top: 65px;
  padding-right: 50px;
  padding-left: 50px;
  padding-bottom: 57px;
 }
.intro-text .big-text{
  margin-bottom: 30px;
}
.info-block h3,
.info-city h3{
  margin-top: 0;
}
.info-block {
  width: 400px;
  min-height: 256px;
  padding-top: 50px;
  padding-right: 47px;
  padding-left: 47px;
  padding-bottom: 10px;
  box-sizing: border-box;
  flex-grow: 1;
}
.info-city {
  position: relative;
  width: 400px;
  min-height: 330px;
  padding-top: 164px;
  box-sizing: border-box;
  padding-right: 47px;
  padding-left: 47px;
  padding-bottom: 10px;
}
.mini-bg {
  width: 800px;
  line-height: 0;
}
.mini-bg img {
  width: 100%;
  min-height: 100%;
  object-fit: cover;
}
.info-city::before {
  content: "";
  position: absolute;
  top: 62px;
  left: 50%;
  transform: translateX(-50%);
}
.home::before {
  width: 75px;
  height: 72px;
  background-image: url("../img/icon-1.svg");
}
.food::before {
  width: 74px;
  height: 70px;
  background-image: url("../img/icon-3.svg");
}
.gift::before {
  width: 64px;
  height: 76px;
  background-image: url("../img/icon-2.svg");
}
.search-info {
  text-align: center;
  padding-top: 58px;
  padding-right: 70px;
  padding-left: 70px;
}
.head {
  margin-top: 0px;
}
.popup {
   position: relative;
}
.search-switch {
  margin: 0 auto;
  text-align: center;
  padding: 34px 20px;
  width: 568px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
}
.popup-form {
  position: absolute;
  left: 50%;
  transform: translateX(-50%) translateY(0%);
  width: 568px;
  background-color: #ffffff;
  padding: 55px;
  box-sizing: border-box;
}
.popup-form input {
  width: 346px;
  height: 38px;
  box-sizing: border-box;
}
.popup-input {
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.input-area {
  display: inline-block;
  width: 346px;
  height: 38px;
  position: relative;
}
.input-area input {
  padding-left: 12px;
  padding-right: 38px;
}
.input-area button {
  right: 0px;
}
.input-number {
  min-height: 38px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}
.number-adult {
  margin-right: 37px;
}
.number-child {
  margin-right: 20px;
}
.input-count {
  display: inline-block;
  width: 114px;
  height: 38px;
  position: relative;
  box-sizing: border-box;
}
input.count {
  text-align: center;
  width :114px;
  height: 38px;
  padding-left: 38px;
  padding-right: 38px;
}
button.min-button {
  position: absolute;
  background-color: transparent;
  width: 38px;
  height: 38px;

  cursor: pointer;
}
button.minus {
  left: 0px;
}
button.pluse {
  right: 0px;
}
.search {
  text-align: center;
  width: 458px;
  margin-top: 55px;
  padding-top: 17px;
  padding-right: 20px;
  padding-bottom: 22px;
  padding-left: 20px;
}
.map {
  width: 1200px;
  min-height: 593px;
}
.footer-index {
  position: relative;
  margin-top: -120px;
}
.footer {
  min-height: 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 100px;
  padding-right: 100px;
  box-sizing: border-box;
}
.teg {
  margin-left: 32px;
}
.social {
  width: 150px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0px;
}
.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 46px;
  height: 48px;
  margin-bottom: 6px;
}
.logo-html {
  display: flex;
  align-items: center;
}
.logo-html span {
  margin-right: 8px;
}
/* сетка вторая страница*/
.form-area {
  width: 1200px;
  box-sizing: border-box;
  padding: 30px 72px;
  min-height: 217px;
  display: flex;
}
.form-area ul {
  padding: 0px;
}
.form-area fieldset {
  border: none;
}
.form-label {
  display: block;
  width: 153px;
  padding-left: 40px;
  padding-bottom: 3px;
  margin-bottom: 20px;
  box-sizing: border-box;
  position: relative;

  cursor: pointer;
}
.form-label::before {
  content: "";
  position: absolute;
  background-image: url("../img/checkbox-off.svg");
  left: 0;
  width: 23px;
  height: 23px;
}
.form-value:focus + .form-label::before {
  outline: 2px solid #81b3d2;
}
 .form-value:checked + .form-label::before {
  content: "";
  position: absolute;
  background-image: url("../img/checkbox-on.svg");
  left: 0;
  width: 27px;
  height: 23px;
}
 .form-value:checked:disabled + .form-label::before {
   background-image: url("../img/checkbox-on-dis.svg");
 }
.form-value:disabled + .form-label::before {
  background-image: url("../img/checkbox-off-dis.svg");
}
.filter-range {
  width: 330px;
  margin-left: auto;
  color: #ffffff;
  text-transform: uppercase;
}
.filter-range-title {
  margin-bottom: 9px;

  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}
.price-controls {
  position: relative;

  height: 36px;
  margin-bottom: 20px;

  font-size: 0;

  border: 2px solid #ffffff;
  border-radius: 2px;
}
.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%,-50%);

  width: 2px;
  height: 22px;

  background: #ffffff;
}
.price-controls label {
  display: inline-block;

  font-size: 14px;
  line-height: 38px;
  vertical-align: top;
}
.price-controls .min-price,
.price-controls .max-price {
  width: 90px;
  padding-left: 65px;
}
.price-controls input {
  width: 50px;
  margin: 0;
  padding-left: 5px;
  box-sizing: border-box;

  color: inherit;
  font: inherit;

  background: none;
  border: none;
}
.price-controls input::placeholder {
  color: inherit;
  opacity: 0.7;
}
.range-controls {
  position: relative;
  margin-bottom: 32px;
}
.range-controls .scale {
  height: 2px;

  background:  rgba(255, 255, 255, 0.3);
}
.range-controls .bar {
  width: 80%;
  height: 2px;

  background: #ffffff;
}
.range-toggle {
  position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;
  padding: 0;
  box-sizing: content-box;

  background: #ababab;
  border: 8px solid #ffffff;
  border-radius:  50%;
  box-shadow: 0 2px 1px 0 rgba(0,1,1,0.2);

  cursor: pointer;
}
.range-toggle:hover {
  transition: 0.3s;
 transform: scale(1.1);
}
.range-toggle-min {
  left: 0;
}
.range-toggle-max {
  left: 80%;
}
.btn-transparent {
  display: block;
  margin: 0 auto;
  padding: 6px 35px;

  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;

  background: transparent;
  border: 2px solid #ffffff;

  cursor: pointer;
}
.btn-transparent:hover {
  color: #000000;
  background: #ffffff;
}
.subfilter {
  width: 1200px;
  margin: 0 auto;
  padding:0 72px;
  box-sizing: border-box;
  min-height: 87px;
  border-bottom: 1px solid #e5e5e5;

  display: flex;
  align-items: center;
}
.sort {
   display: flex;
  }
.subfilter p {
  margin-right: 48px;
}
.subfilter h3 {
  margin-right: 40px;
}
.sort {
  padding-left: 0px;
}
.sort-item{
  margin-right: 34px;
}
.arrow-section {
  margin-left: auto;
}
.list-item {
  height: 150px;
  border-bottom: 1px solid #e5e5e5;
  padding: 30px 72px;
  box-sizing: border-box;
  display: flex;
}
.image,
.text-info h3,
.text-info p {
  margin: 0px;
}
.image {
  margin-right: 30px;
}
.text-info {
  height: 90px;
   width: 258px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
 }
.text-info > div {
  display: flex;
}
.about-item {
  display: block;
  width: 110px;
  height: 27px;
  margin-right: 6px;
  text-align: center;
  padding-top: 3px;
  box-sizing: border-box;
}

.button-reserve {
  width: 142px;
  height: 27px;
}
.rating-block {
  margin-left: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}
.rating {
  display: block;
  width: 110px;
  height: 27px;
  padding-left: 15px;
  box-sizing: border-box;
}
